<%= form_for form_resources do |f| %>
  <% if @listing.errors.any? %>
    <h5>Errors</h5>
    <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-container">
    <div class="first-row">
      <div class="title">
        <%= f.label :title, "Titulo del Producto" %>
        <%= f.text_field :title %>
      </div>  

      <div class="rate">
        <%= f.label :daily_rate, "Tarifa Diaria" %>
        <%= f.number_field :daily_rate %>
      </div>  
      
    </div>
    
    <div class="second-row">
      <div class="description">
        <%= f.label :description, "Descripción" %>
        <%= f.text_area :description %>
      </div>

      <div class="dropdowns">
        <div class="region">
          <%= f.label :region, "Region" %>
          <%= f.select :region,  options_for_select(Listing::CHILE_REGIONS) %>
        </div>

        <div class="category">
          <%= f.label :category_id, "Category" %>
          <%= f.collection_select :category_id, Category.all, :id, :name, {} %>
        </div>  
      </div>
    </div>

    <div class="third-row">
      <div class="images">
        <%= f.label :Subir_fotos %>
        <%= f.file_field :images, multiple: true %>
      </div>  
    </div>

    <div class="submit-listing">
      <%= f.submit "Subir Producto" %>
    </div>
  </div>
<% end %>

<% @listing.images.each_with_index do |image, index| %>
  <%= image_tag(image.thumb.url) %>
  <%= link_to "Delete", listing_image_path(@listing, index), :method => :delete, data: { confirm: "Are you sure you want to delete this image?" } %>
  <%= link_to "Make Primary", listing_image_path(@listing, index), :method => :patch %>
<% end %>  

