<%= form_for form_resources do |f| %>
  <% if @listing.errors.any? %>
    <h5>Errors</h5>
    <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <div>
      <%= f.label :title, "Product Title" %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :description, "Product Description" %>
      <%= f.text_area :description %>
    </div>

    <div>
      <%= f.label :region, "Region" %>
      <%= f.select :region,  options_for_select(Listing::CHILE_REGIONS) %>
    </div>

    <div>
      <%= f.label :category_id, "Category" %>
      <%= f.collection_select :category_id, Category.all, :id, :name, {} %>
    </div>

    <div">
      <%= f.label :daily_rate %>
      <%= f.number_field :daily_rate %>
    </div>

    <div>
      <%= f.label :images %>
      <%= f.file_field :images, multiple: true %>
    </div>

    <div>
      <%= f.submit nil %>
    </div>
  </div>
<% end %>