<h4><%= @listing.title %></h4>

<p>Description: <%= @listing.description %></p>
<p>Category: <%= @listing.category.name %></p>
<p>Daily Rate: <%= @listing.daily_rate %></p>

<div>
  <% @listing.images.each_with_index do |image, index| %>
    <%= image_tag(image.url) %>
  <% end %>
</div>

<% if @listing.postable == current_person %>
  <%= link_to "Edit Listing", edit_listing_path(@listing) %>

  <h1>Add more images</h1>

  <%= form_for @listing, url: listing_images_path(@listing), method: :post do |f| %>
    <div class="field">
      <%= f.file_field :images, multiple: true %>
    </div>

    <div class="actions">
      <%= f.submit "Add More Images" %>
    </div>
  <% end %>
<% else %>
  <%= form_for @order_item, remote: true do |f| %>
    <h4 class="text-right">Daily Rate: <span style="color: green"><%= number_to_currency @listing.daily_rate %></span></h4>
    <div class="input-group">
      <%= f.date_field :start_date, value: Date.today %>
      <%= f.date_field :end_date, value: Date.tomorrow %>
      <div class="input-group-btn">
        <%= f.hidden_field :listing_id, value: @listing.id %>
        <%= f.submit "Add to Cart", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
<% end %>

