<section class="listing-show">
  <div class="cart-text">
  <%= link_to "#{current_order.order_items.size} Items in Cart ( #{number_to_currency current_order.total} )", cart_path, class: "btn btn-link" %>
  </div>
  
  <div class="inner-container">
    <div class="listing-product-column">
      <div class="slider slider-for">
        <%= image_tag(@listing.images[0]) %>
        <% @secondary_images.each do |image| %>  
          <%= image_tag(image.url) %>
        <% end %>   
      </div>
      
      <div class="slider slider-nav">
      <%= image_tag(@listing.images[0]) %>
      <% @secondary_images.each do |image| %>
          <%= image_tag(image.url) %>
      <% end %>        
      </div> 


      <div class="other-postable-products">
        <h2>Otros productos de <%= @listing.postable.first_name %></h2>

        <% @other_user_products.each do |product| %>
        <div class="product-container">
          <div class="image">
            <%= image_tag(product.images[0]) %>    
          </div>
          <div class="info">
            <p class="title"><%= product.title %></p>
            <p class="rate"><%= product.daily_rate %></p>
            <p class="user-name"><%= product.postable.first_name %></p>    
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="listing-deal-column">
      <div class="postable-profile">
        <%= image_tag(@listing.postable.profile_picture) %>  
        <div class="postable-info">
          <p><%= @listing.postable.first_name %> <%= @listing.postable.last_name %> - V Region</p>
          <p class="postable-phone">+56 9 9392 8382</p>
          <p>Miembro desde 2006</p>  
        </div>
      </div>
      
      <div class="product-info">
        <h4><%= @listing.title %></h4>
        <p>Description:</p>
        <p><%= @listing.description %></p>
        <br>
        <p>Valor Diario:</p>  
        <p class="product-rate"><%= @listing.daily_rate %></p>  
      </div>
      
      <button class="rent-action">Arrendar</button>

      <% if @listing.postable == current_person %>
        <%= link_to "Edit Listing", edit_listing_path(@listing) %>

        <h1>Add more images</h1>

        <%= form_for @listing, url: listing_images_path(@listing), method: :post do |f| %>
          <div class="field">
            <%= f.file_field :images, multiple: true %>
          </div>

          <div class="actions">
            <%= f.submit "Add More Images" %>
          </div>
        <% end %>
      <% else %>
        <%= form_for @order_item, remote: true do |f| %>
          <div class="input-group">
            <p>Selecciona la fecha en que deseas arrendarlo y devolverlo</p>
            <%= f.date_field :start_date, class: "datepicker", placeholder: "Fecha de Inicio" %>
            <%= f.date_field :end_date, class: "datepicker", placeholder: "Fecha de Devolución" %>
          </div>
          
          <div class="close-deal-details">
            <div class="details-text">
              <p>Valor del Arriendo: </p>
              <p>Valor diario <span class="values">$</span>
                              <span class="values" id="daily-rate-value"><%= @listing.daily_rate %></span>
                              <span class="values">x</span>
                              <span class="values" id="amountOfDays"></span> 
                              <span class="values">dias = $</span>
                              <span class="values" id="net-total-cost"></span></p>
              <p>Comision por servicio: 
                <span class="values">$</span>
                <span class="values" id="comisionValue"></span></p>

              <p class="total-cost">Valor Total: 
                <span class="values">$</span>
                <span class="values" id="total-cost"></span></p>  
            </div>
            
            <div class="delivery-picker">
              <div class="checkbox">
                <input type="checkbox"> 
              </div>
              <div class="delivery-text">
                <p>Desapacho a Domicilio</p>
                <p>Quirese que llegue a otra dirección?</p>
                <p>Haz Click <%= link_to "Aqui", "#" %></p>
                <p>Envio Express(1 dia): <span class="values">$4000</span></p>
                <p>Envio Normal: <span class="values">$2360</span></p>
              </div>
            </div>
          </div>

          <div class="input-group-btn">
            <%= f.hidden_field :listing_id, value: @listing.id %>
            <%= f.submit "Añadir al carrito", id: "add-item-button" %>
          </div>

          <div class="cart-text">
            <%#= link_to "#{current_order.order_items.size} Items in Cart ( #{number_to_currency current_order.total} )", cart_path %>
            <%= link_to cart_path do %>
              <div class="items-size">
                <p class="items"><%= current_order.order_items.size %></p>
                <p class="items-word">Items en el carro</p>   
              </div>
              <div class="cart">
                <%= image_tag('cart.png') %>
              </div>           
            <% end %>
          </div>
          <div class="cart-notice">
            
          </div>
        <% end %>
      <% end %>  
    </div>
  </div>
  

  <script>


    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15, // Creates a dropdown of 15 years to control year"
      formatSubmit: 'yyyy-mm-dd',
      hiddenPrefix: '',
      hiddenSuffix: ''
    });  

    $('.slider-for').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: '.slider-nav'
    });
    $('.slider-nav').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: '.slider-for',
      centerMode: true,
      focusOnSelect: true
    });
  </script>
</section>
