        <%= form_for @user, url: account_path do |f| %>
          <div class="row">
            <div class="form-group">
              Cambiar Foto de Perfil
              <%= f.file_field :profile_picture, class: "center-block" %>
            </div>

            <div class="form-group">
              <%= f.label :Nombre %>
              <%= f.text_field :first_name, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :Apellido %>
              <%= f.text_field :last_name, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :banco %>
              <%= f.text_field :bank, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :numero_de_cuenta %>
              <%= f.text_field :bank_account, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :telefono %>
              <%= f.text_field :phone, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.submit "Actualizar Perfil" %>
            </div>
          </div>
        <% end %>

        <%= link_to button_tag("Cambiar Contraseña", class: "btn btn-default"), edit_user_registration_path %>