<h4>Edit Account</h4>

<%= form_for @user, url: account_path do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <%= image_tag @user.profile_picture.url, class: "center-block" %>
    </div>

    <div class="col-xs-12 text-center">
      Change Picture
      <%= f.file_field :profile_picture, class: "center-block" %>
    </div>

    <div class="col-xs-6 text-center form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="col-xs-6 text-center form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>

    <div class="col-xs-12">
      <%= f.submit nil, class: "btn btn-default" %>
    </div>
  </div>

<% end %>


<%= link_to button_tag("Change your password", class: "btn btn-default"), edit_user_registration_path %>