<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background:rgba(235, 228, 228, 0.4);border:1px solid grey;border-radius:5px;">
    <%= image_tag "https://s3-us-west-2.amazonaws.com/teloarrendamos-static-assets/logos/logo-transparente.png" %>
    <div style="background:#1191B9;padding:12px;">
      <h1 style="color:white;margin:0">Tienes un arriendo!</h1>
    </div>

    <div>
      <h4 style="padding-left:5px;">Los detalles del arriendo son los siguientes:</h4>
      <% @order_items.each do |order_item| %>
        <p style="padding-left:5px;">Titulo: <%= order_item.listing.title %></p>
        <p style="padding-left:5px;">Tarifa por dia: <%= order_item.listing.daily_rate %></p>
        <p style="padding-left:5px;">Valor Total: <%= order_item.total_price %></p>
        <div style="border-bottom:1px solid grey"></div>
      <% end %>

      <div style="background:#00C0FF;padding:5px;">
        <h4 style="color:white;">Datos del Arrendatario</h4>
        <p style="color:white;">Nombre de arrendatario: <%= @order.orderable.first_name %> <%= @order.orderable.last_name %></p>
        <p style="color:white;">Telefono: <%= @order.orderable.phone %></p>
        <p style="color:white;">Email: <%= @order.orderable.email %></p>
        <br>
        <p style="color:white;"><strong>Contactate con el para concretar el retiro.</strong></p>
      </div>


    </div>
  </body>
</html>