<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag "https://s3-us-west-2.amazonaws.com/teloarrendamos-static-assets/logos/logo-transparente.png" %>
    <div style="background:#1191B9;padding:12px;">
      <h1 style="color:white;margin:0">Gracias, tu orden ha sido confirmada!</h1>
      <p style="color:white;">Total: <%= @order.total %></p>
    </div>

    <div>
      <h4 style="padding-left:5px;">Los detalles son los siguientes:</h4>
      <% @order_items.each do |order_item| %>
        <p style="padding-left:5px;">Titulo: <%= order_item.listing.title %></p>
        <p style="padding-left:5px;">Sub-Total: <%= order_item.total_price %></p>
        <p style="padding-left:5px;">Contact - <%= order_item.listing.postable.email %></p>
        <div style="border-bottom:1px solid grey"></div>
      <% end %>
    </div>
  </body>
</html>