<section class="title-and-search">
  <div class="overlay">
    <%= flash_messages %>
    <div class="callout">
    <h2>Deja que tus cosas trabajen por ti</h2>
    <h3>En arriendalo podrás arrendar productos y también ponerlos en arriendo en forma simple y segura.</h3>
    </div>
    <%= form_tag search_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: 'form-control typeahead', id: "article_search", placeholder: "Ej. Bicicleta, moto, tabla de surf" %>
      <%= submit_tag 'Buscar' %>
    <% end %>
  </div>
</section>

<section class="target-customers">
  <div class="client">
    <h2>Quiero arrendar un producto</h2>
    <p>Busca por las categorias o a través de nuestro buscador. Sólo debes elegir el producto y el tiempo en que deseas arrendarlo</p>
    <%= link_to button_tag("Buscar por categorias"), categories_path %>
  </div>
  <div class="renter">
    <h2>Quiero poner en arriendo</h2>
    <p>Crea tu cuenta y sube tus productos para que otras personas los arrienden. Sube dfotos y descripciones de tus productos</p>
    <%= link_to button_tag("REGISTRARSE"), new_user_registration_path %>
  </div>
</section>

<section class="categories">
  <h2>Categorías</h2>  
  <div class="products-container">
    <% @categories.each do |category| %>
    <div class="product bicycles">
      <%= link_to image_tag(category.category_image, alt: "bike-icon"), listing_category_path(category) %>
      <p><%= category.name.upcase %></p>
    </div>
    <% end %>
  </div>
</section>

<section class="highlight-products">
  <h2>Productos destacados</h2>
  <div id="highlight-slider">
    <% @listings.each do |listing| %>
    <div class="product">
      <%= link_to image_tag(listing.images[0].url), listing_path(listing) %>
      <p class="title"><%= listing.title %></p>
      <p class="description"><%= listing.description %></p>
      <p class="price">$ <%= listing.daily_rate %> diarios</p>
      <p class="renter-name"><%= listing.postable.email %> - <%= listing.region %></p>
    </div>
    <% end %>
  </div>
</section>

<section class="activity">
  <h2>Actividad en Arriendalo y Punto</h2>
  <div class="stats users-per-week">
    <p class="number"><%= User.all.count %></p>
    <p class="text">Usuarios creados la semana pasada</p>
  </div>
  <div class="stats rents-per-month">
    <p class="number">3</p>
    <p class="text">productos arrendados el mes pasado</p>
  </div>
<!--   <div class="stats transactions">
    <p class="number">$3M</p>
    <p class="text">en transacciones realizadas el mes de Octubre</p>
  </div> -->
</section>

<script>
  $('#highlight-slider').slick ({
    dots: true,
    autoplay: true,
    autoplaySpeed: 2000, 
    infinite: true,
    speed: 300,
    slidesToShow: 3    
  });
</script>
