<section class="how-it-works">
	<div class="titles">
		<h2 class="renter">EL QUE ARRIENDA</h2>
		<h2 class="client">EL QUE QUIERE ARRENDAR</h2>
	</div>
	<div class="explain-users-plan">
		<button id="renter-tutorial-btn">Quiero Ganar Dinero!</button>
		<div class="shake-hands-how-it-works">
			<%= image_tag "ilustracion-arriendalo.png" %>
		</div>
		<button id="client-tutorial-btn">Quiero Arrendar!</button>
	</div>
	<div class="overlay-renter">
			<div class="close">
				<button id="close-btn-renter">Cerrar</button>
			</div>
			<div id="slider-wrapper-renter" class="overlay-slider">
				<div class="slide">
					<%= image_tag "slider-1.png" %>
					<p class="caption">Sube tu articulo y ponle un precio por día</p>
				</div>
				<div class="slide">
					<%= image_tag "slider-2.png" %>
					<p class="caption">Te llegará un SMS/Email para confirmar la solicitud</p>
				</div>
				<div class="slide">
					<%= image_tag "slider-3.png" %>
					<p class="caption">Recibe tu dinero</p>
				</div>
			</div>
	</div>

	<div class="overlay-client">
			<div class="close">
				<button id="close-btn-client">Cerrar</button>
			</div>

			<div id="slider-wrapper-client" class="overlay-slider">
				<div class="slide">
					<%= image_tag "slider-client-1.png" %>
					<p class="caption">Busca el producto que quieres arrendar</p>
				</div>
				<div class="slide">
					<%= image_tag "slider-client-2.png" %>
					<p class="caption">Espera la confirmacion de su dueño</p>
				</div>
				<div class="slide">
					<%= image_tag "slider-client-3.png" %>
					<p class="caption">Recibe el producto y disfruta!</p>
				</div>
			</div>
	</div>

	<script>
	$('.explain-users-plan').append($('.shake-hands-how-it-works'));

	    $('#client-tutorial-btn')[0].onclick = function() {
	    	$('.overlay-client')[0].style.display = 'block';
	    	$(window).trigger('resize');
	    }

	    $('#close-btn-client')[0].onclick = function() {
	    	$('.overlay-client')[0].style.display = 'none';
	    	$(window).trigger('resize');
	    }

	   	$('#renter-tutorial-btn')[0].onclick = function() {
	    	$('.overlay-renter')[0].style.display = 'block';
	    	$(window).trigger('resize');
	    }

	    $('#close-btn-renter')[0].onclick = function() {
	    	$('.overlay-renter')[0].style.display = 'none';
	    	$(window).trigger('resize');
	    }
	</script>
</section>