<div class="cart-row">
  <div class="container">
    <div class="cart-titles">
      <h4 class="product-titles"><%= listing.title %></h4>
      <button class="view-details">Ver Detalles</button>
    </div>
    <div class="order-item-details">
      <%= form_for order_item, remote: true do |f| %>
        <h4 class="">Tarifa Diaria: <span><%= number_to_currency order_item.unit_price %></span></h4>
        <div class="">
          <div class="">
            <%= f.date_field :start_date %>
            <%= f.date_field :end_date %>
            <%= f.hidden_field :listing_id, value: listing.id %>
          </div>
          <div class="">
            <div class="">
              <%= f.submit "Actualizar Datos" %>
              <%= link_to "Eliminar", order_item, { data: { confirm: "Seguro que deseas eliminar este producto '#{order_item.listing.title}' de tu carro de arriendo?" }, method: :delete, remote: true } %>
            </div>
          </div>
        </div>
        <h4 class="">Total Price: <span><%= number_to_currency order_item.total_price %></span></h4>
      <% end %>
    </div>
  </div>
</div>

