<%= form_tag search_path, method: :get do %>
  <%= text_field_tag :query, params[:query], class: 'form-control typeahead', id: "article_search" %>
  <%= select_tag :region, options_for_select(Listing::CHILE_REGIONS, params[:region]) %>
  <%= submit_tag 'Search' %>
<% end %>

<% @listings.each do |listing| %>
  <div>
    <p><%= link_to listing.description, listing %></p>
  </div>
<% end %>

<%= paginate @listings %>