<section class="search-results">
	<div class="header-container">
		<div class="search-results-title">
			<h2>Resultados de la Busqueda (<%= @listings.count %>)</h2>
		</div>
		<div class="search-results-form">
			<%= form_tag search_path, method: :get do %>
				<span class="product">Producto</span>
			  	<%= text_field_tag :query, params[:query], class: 'form-control typeahead', id: "article_search" %>
			  	<span class="region">Region</span>
			  	<%= select_tag :region, options_for_select(Listing::CHILE_REGIONS, params[:region]) %>
			  	<%= submit_tag 'Search' %>
			<% end %>
		</div>
		<div class="result-line">
			<p class="result-span">Resultados <%= @listings.offset_value + 1 %>-<%= [@listings.offset_value + @listings.limit_value, @listings.total_count].min %></p>
		</div>

		<div id="markersArray">

		</div>
	</div>

	<div class="results-and-map">
			<div class="products-column">
				<% @listings.each do |listing| %>
					<div class="frame-container">
						<%= link_to listing do %>
						  <div class="product-frame">
						  	<div class="frame-image">
						  		<%= image_tag(listing.images[0]) %>
						  	</div>
						  	<div class="frame-second-row">
						  		<div class="frame-title-desc">
							  		<p><%= listing.title %></p>
							  		<p><%= listing.description %></p>
						  		</div>
						  		<div class="frame-postable-img">
						  			<%= image_tag(listing.postable.profile_picture) %>
						  		</div>
						  	</div>
						  	<div class="frame-third-row">
							  	<p class="frame-rate">$ <%= number_with_delimiter(listing.daily_rate.to_i, :delimiter => '.') %></p>
							    <p class="frame-location"><%= listing.region %> - Chile</p>
						  	</div>
						  </div>
						<% end %>
					</div>
				<% end %>
			</div>

			<div id="map"></div>
	</div>
	<div><%= paginate @listings %></div>
</section>

<script>
	var map;
	var markersArray = [];
	var resultsMarkersObj = {};

	function initMap() {
		var mapOptions = {
			center: {lat: -33.4314207, lng: -70.61430530000001},
			zoom: 5
		}

		map = new google.maps.Map(document.getElementById('map'), mapOptions);
		<% @listings.each do |listing| %>
			var listingInfo = [<%= listing.id %>, <%= listing.latitude.to_f %>, <%= listing.longitude.to_f %>, <%= listing.daily_rate %>]
			markersArray.push(listingInfo);
		<% end %>


		for(var i = 0; i < markersArray.length; i++) {
			resultsMarkersObj[i] = new google.maps.Marker({
			    position: {lat: markersArray[i][1], lng: markersArray[i][2]},
			    map: map,
			    title:"Hello World!",
			    price: new google.maps.InfoWindow({
					content: '<p>$ ' + markersArray[i][3] + '</p>'
				})
			});

			resultsMarkersObj[i].addListener("click", function() {
		        this.price.open(map, this);
		    })
		}
	}

	$(document).on('turbolinks:load', function(){
		initMap();
	});
</script>



