<section class="search-results">
	<div class="search-results-title">
		<h2>Resultados de la Busqueda (22)</h2>
	</div>
	<div class="search-results-form">
		<%= form_tag search_path, method: :get do %>
		  <%= text_field_tag :query, params[:query], class: 'form-control typeahead', id: "article_search" %>
		  <%= select_tag :region, options_for_select(Listing::CHILE_REGIONS, params[:region]) %>
		  <%= submit_tag 'Search' %>
		<% end %>	
	</div>

	<div class="results-and-map">
			<div class="products-column">
				<% @listings.each do |listing| %>
				<div class="frame-container">
					<%= link_to listing do %>
					  <div class="product-frame">
					  	<div class="frame-image">
					  		<%= image_tag(listing.images[0]) %>
					  	</div>
					  	<div class="frame-second-row">
					  		<div class="frame-title-desc">
						  		<p><%= listing.title %></p>	
						  		<p><%= listing.description %></p>	
					  		</div>
					  		<div class="frame-postable-img">
					  			<%= image_tag(listing.postable.profile_picture) %>	
					  		</div>
					  	</div>
					  	<div class="frame-third-row">
						  	<p class="frame-rate"><%= listing.daily_rate %></p>
						    <p class="frame-location">Iquique, Region de Atacama</p>	
					  	</div>
					  </div>
					<% end %>	
				</div>
				<% end %>

				<%= paginate @listings %>		
			</div>
			
			<div class="result-map">
				<img src="/assets/map-image.png" alt="map">
			</div>		
	</div>
</section>
