<footer>
  <div class="column logo-and-social">
    <div class="logo">
      <%= image_tag "https://s3-us-west-2.amazonaws.com/teloarrendamos-static-assets/logos/logo-blanco-transparente.png" %>
    </div>
    <div class="slogan">
      <p>Deja que tus cosas trabajen por ti.</p>
    </div>
    <div class="social-icons">
      <%= link_to "https://www.facebook.com/Teloarrendamos.cl/?fref=ts" do %>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/teloarrendamos-static-assets/icons/social-icons/facebook-logo.png" %>
      <% end %>

      <%= link_to "" do %>
      <%= image_tag "https://s3-us-west-2.amazonaws.com/teloarrendamos-static-assets/icons/social-icons/twitter-logo.png" %>
      <% end %>

      <%= link_to "https://www.instagram.com/teloarrendamos.cl/" do %>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/teloarrendamos-static-assets/icons/social-icons/instagram-logo.png" %>
      <% end %>

      <%= link_to "" do %>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/teloarrendamos-static-assets/icons/social-icons/youtube-logo.png" %>
      <% end %>

      <%= link_to "" do %>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/teloarrendamos-static-assets/icons/social-icons/google-logo.png" %>
      <% end %>
    </div>
  </div>

  <div class="column nav-list">
    <ul>
      <li><%= link_to "QUÉ ES", pages_what_is_path %></li>
      <li><%= link_to "CÓMO FUNCIONA", pages_how_it_works_path %></li>
      <!-- <li><%#= link_to "GARANTÍA" %></li> -->
      <li><%= link_to "PREGUNTAS FRECUENTES", pages_faq_path %></li>
      <!-- <li><%#= link_to "CONTACTO" %></li> -->
    </ul>
  </div>

  <div class="column contact">
    <div class="politics">
      <!-- <ul>
        <li>MEDIOS DE PAGO</li>
        <li>POLITÍCAS DE DEVOLUCIÓN</li>
      </ul> -->
    </div>
    <div class="contact-info">
      <p>Mail: contacto@teloarrendamos.cl</p>
    </div>
  </div>

  <div class="column payment-logos">
<!--     <img src="" alt="WebPay-icon">
    <img src="" alt="credit-cards-icons"> -->
  </div>
</footer>