<!DOCTYPE html>
<html>
  <head>
    <title>RentalApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% unless controller_name == "pages" %>
      <% if current_person %>
      <section class="user-header">
        <div class="user-header">
          <h3>Mi Cuenta</h3>
          <ul class="user-nav">
            <li><%= link_to "Perfil", edit_account_path %></li>
            <li><%= link_to "Mis Productos", user_dashboard_path %></li>
            <li><%= link_to "Subir Producto", new_listing_path %></li>
            <li><%= link_to "Historial", history_user_dashboard_path %></li>
            <li><%= link_to "Mensajes", messages_user_dashboard_path %></li>
            <li><%= link_to "Valoraciones", valuation_user_dashboard_path %></li>
          </ul>
        </div>
      </section>
      <% end %>
    <% end %>
   
     <%= yield %>
    
    <div class="footer-image">
      <img src="https://s3-us-west-2.amazonaws.com/teloarrendamos-static-assets/icons/productos-celestes.png" alt="footer-image">
    </div>

    <%= render 'layouts/footer' %>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </body>
</html>
