<!DOCTYPE html>
<html>
  <head>
    <title>RentalApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="home-index">
      <div class="upper-blue-margin"></div>
      <div class="login-nav">
        <ul>
          <li class="login">
            <a href="#" class="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">INICIAR SESIÓN</a>
 <!--            <ul class="">
              <li>
                <%#= link_to "Company", new_company_session_path %>
              </li>
              <li>
                <%#= link_to "User", new_user_session_path %>
              </li>
            </ul> -->
          </li>
          <li class="sign-up">
            <a href="#" class="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">REGISTRARSE</a>
<!--             <ul class="">
              <li>
                <%#= link_to "Company", new_company_registration_path %>
              </li>
              <li>
                <%#= link_to "User", new_user_registration_path %>
              </li>
            </ul> -->
          </li>
        </ul>
      </div>

      <nav>
        <div class="logo"><img src="" alt="logo">Arriendalo y Punto</div>
        <ul>
          <li class="que-es">QUÉ ES</li>
          <li>CÓMO FUNCIONA</li>
          <li>GARANTÍA</li>
          <li>PREGUNTAS FRECUENTES</li>
        </ul>
      </nav>
      
      <div class="container-fluid">
        <%= flash_messages %>
        <%= yield %>
      </div>
    </header>
  </body>
</html>
