<!DOCTYPE html>
<html>
  <head>
    <title>RentalApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="home-index">
      <div class="upper-blue-margin"></div>
      <div class="login-nav">
        <ul>
          <li class="login" id="login-dropdown-button">
            <a href="#" class="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">INICIAR SESIÓN</a>
            <ul id="login-dropdown">
              <li>
                <%= link_to "Company", new_company_session_path %>
              </li>
              <li>
                <%= link_to "User", new_user_session_path %>
              </li>
            </ul>
          </li>
          <li class="sign-up" id="sign-up-dropdown-button">
            <a href="#" class="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">REGISTRARSE</a>
            <ul id="sign-up-dropdown">
              <li>
                <%= link_to "Company", new_company_registration_path %>
              </li>
              <li>
                <%= link_to "User", new_user_registration_path %>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <nav>
        <div class="logo">
          <%= link_to root_path do %>
            <img src="https://s3-us-west-2.amazonaws.com/teloarrendamos-static-assets/logos/logo-transparente.png" alt="logo-arriendalo-y-punto">
          <% end %>
        </div>
        <ul>
          <li class="que-es"><%= link_to "QUÉ ES", pages_que_es_path %></li>
          <li>CÓMO FUNCIONA</li>
          <li>GARANTÍA</li>
          <%= link_to pages_faq_path do %>
            <li>PREGUNTAS FRECUENTES</li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
    
    <div class="footer-image">
      <img src="" alt="footer-image">
    </div>

    <footer>
      <div class="column logo-and-social">
        <div class="logo">
          <img src="" alt="logo-arriendalo">
        </div>
        <div class="slogan">
          <p>Deja que tus cosas trabajen por ti.</p>
        </div>
        <div class="social-icons">
          <img src="" alt="icon">
          <img src="" alt="icon">
          <img src="" alt="icon">
          <img src="" alt="icon">
          <img src="" alt="icon">
        </div>
      </div>

      <div class="column nav-list">
        <ul>
          <li>QUÉ ES</li>
          <li>CÓMO FUNCIONA</li>
          <li>GARANTÍA</li>
          <li>PREGUNTAS FRECUENTES</li>
          <li>CONTACTO</li>
        </ul>  
      </div>

      <div class="column contact">
        <div class="politics">
          <ul>
            <li>MEDIOS DE PAGO</li>
            <li>POLITÍCAS DE DEVOLUCIÓN</li>
          </ul>
        </div>
        <div class="contact-info">
          <p>Mail: contacto@arriendalo.cl</p>
          <p>Tel. 2 24567890</p>
          <p>Cel: +56 8 9876 7663</p>
        </div>
      </div>

      <div class="column payment-logos">
        <img src="" alt="WebPay-icon">
        <img src="" alt="credit-cards-icons">
      </div>
    </footer>
  </body>
</html>
